.cw__container {
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.cw__button {
  border: 1px solid var(--black-color);
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 5px;
  cursor: pointer;
}

.cw__button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: 3px 3px 5px var(--dark-color);
}

.cw__counter {
  font-family: Lora, "Times New Roman", serif;
  min-width: 1.25em;
  text-align: center;
  font-weight: 700;
}
