.mainpage {
  overflow: scroll;
}

.mainwelcome {
  text-align: center;
  color: var(--accent-color);
  font-size: 1em;
}

.mainheader {
  width: 100%;
  border: 3px solid var(--black-color);
  text-align: center;
  background: linear-gradient(to right, lightgreen, lightblue);
}

@media screen and (min-width: 700px) {
  .mainpage {
    overflow: hidden;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
  }

  .mainwelcome {
    font-size: 3em;
  }

  .mainheader {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
