.ordercreatedpage {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ocp__heading {
  border: 3px solid var(--black-color);
  font-weight: 700;
  font-size: 1.25rem;
  background: linear-gradient(to right, lightgreen, lightblue);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.ocp__button {
  padding: 3px 5px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  background-color: var(--dark-color);
  color: var(--white-color);
  cursor: pointer;
  max-width: 100px;
}

.ocp__button:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
  box-shadow: 3px 3px 5px var(--dark-color);
}

@media screen and (min-width: 700px) {
  .ordercreatedpage {
    overflow: auto;
    max-width: 60rem;
    margin: 0 auto;
  }
}
