.architecturepage {
  overflow: scroll;
}

.archheader {
  margin-top: 1rem;
  text-align: center;
  border: 3px solid var(--black-color);
  background: linear-gradient(to right, lightgreen, lightblue);
  box-shadow: 3px 3px 5px var(--dark-color);
  margin-bottom: 2rem;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.centerimage {
  display: block;
  margin-inline: auto;
  padding: 5px 5px;
  border: 5px solid var(--black-color);
  width: auto;
  max-width: 100%;
  max-height: 75%;
}

@media screen and (min-width: 700px) {
  .architecturepage {
    overflow: auto;
    max-width: 60rem;
    margin: 0 auto;
  }
}
